---
layout: default
---
{% include timeline.html %}
{% include avatar.html %}
{% include socials.html %}

<div class="products">
  {% for p in site.products %}
  <div class="product">
    <h1>{{ p.title }}</h1>
    {{ p.content }}
    <div class="stores">
      {% if p.address %}<p><a href="{{ p.address }}" class="btn" target="_blank">{% if p.favicon %}<img
            src="{{ p.favicon }}">{% endif %}{{ p.address | remove:'https://' | split:'/' | first }}</a></p>{% endif %}
      {% if p.google %}<a href="{{ p.google }}" class="store google" target="_blank"><img src="img/google.svg"></a>{%
      endif %}
      {% if p.apple %}<a href="{{ p.apple }}" class="store apple" target="_blank"><img src="img/apple.svg"></a>{% endif
      %}
      {% if p.itch %}<a href="{{ p.itch }}" class="store itch" target="_blank"><img src="img/itch.svg"></a>{% endif %}
    </div>
  </div>
  {% endfor %}
</div>