---
kind: index
---

<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8">
  <meta name="language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="gaming, software, video games">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta name="theme-color" content="{{ site.theme_color }}">
  <link href="{{ site.favicon }}" rel="icon">
  <link href="{{ site.apple_touch_icon }}" rel="apple-touch-icon">
  <link href="{{ site.apple_touch_startup_image }}" rel="apple-touch-startup-image">
  <link href="/style.css" rel="stylesheet">
</head>

<body class="grid">

  <div class="timeline"></div>

  <div class="avatar">
    <img src="img/avatar.png">
  </div>

  <div class="social-row">
    {% for s in site.socials %}
    <a class="social" target="_blank" rel="sponsored nofollow noopener" href="{{ s.url }}">
      <img src="{{ s.img }}">
    </a>
    {% endfor %}
  </div>

  <div class="products">
    {% for p in site.products %}
    <div class="product">
      <h1>{{ p.title }}</h1>
      {{ p.content }}
      {% if p.google %}<a href="{{ p.google }}" class="store" target="_blank"><img src="img/google.png"></a>{% endif %}
      {% if p.apple %}<a href="{{ p.apple }}" class="store" target="_blank"><img src="img/apple.png"></a>{% endif %}
      {% if p.itch %}<a href="{{ p.itch }}" class="store" target="_blank"><img src="img/itch.png"></a>{% endif %}
    </div>
  </div>
  {% endfor %}

</body>

</html>
