@import url('https://fonts.googleapis.com/css2?family=Quicksand');
/* variables */
 :root {
     --snow: #FFFFFF;
     --darkpearl: #0B132B; /* rgb(11, 19, 43) */
     --ebonyclay: #1C2541; /* rgb(28, 37, 65) */
     --riverbed: #3A506B; /* rgb(58, 80, 107) */
     --jellyfish: #5BC0BE; /* rgb(91, 192, 190) */
     --almond: #F3DFC1; /* rgb(243, 223, 193) */
     --cashmere: #DDBEA8; /* rgb(221, 190, 168) */
     --linewidth: 3px;
     --linecolor: var(--riverbed);
     --radius: 6px;
     --style: solid;
     --gap-s: 8px;
     --gap-m: 16px;
     --gap-l: 24px;
     --gap-xl: 32px;
     --link: var(--jellyfish):
}
 body {
     font-family: 'Quicksand', sans-serif;
     color: var(--cashmere);
     background: var(--darkpearl);
     margin: 0;
     padding: 0;
}
 ::selection {
     background: transparent;
}
 .grid {
     display: grid;
     grid-template-columns: 1fr;
     place-items: center;
     margin: var(--gap-xl) 0;
}
 .timeline {
     width: 3px;
     background: var(--linecolor);
     height: 100vh;
     display: block;
     position: fixed;
     top: 0;
     left: 50%;
     z-index: -10;
}
.timeline::after {
  content: "";
  display: block;
  position: absolute;
  height: 20vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, var(--riverbed) 0%, var(--jellyfish) 50%, var(--riverbed) 100%);
  animation: drop 14s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes drop {
  0% {
    top: -50%;
  }
  50% {
    top: 110%;
  }
  100% {
    top: -50%;
  }
}
 .avatar {
     display: grid;
     place-content: center;
     place-items: center;
     width: 128px;
     height: 128px;
     background: var(--ebonyclay);
     border-color: var(--linecolor);
     border-width: var(--linewidth);
     border-style: var(--style);
     border-radius: 50%;
     margin-top: var(--gap-xl);
}
 .avatar img {
     width: 120px;
     height: 120px;
}
 .social-row {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: var(--gap-m);
     margin: var(--gap-m) 0;
}
 a.social {
     display: grid;
     place-content: center;
     place-items: center;
     width: 64px;
     height: 64px;
     background: var(--ebonyclay);
     border-color: var(--linecolor);
     border-width: var(--linewidth);
     border-style: solid;
     border-radius: 50%;
}
 a.social:hover {
     border-color: var(--jellyfish);
     transition: border-color 0.7s;
}
 .social img {
     width: 32px;
     height: 32px;
     transition: 0.5s;
}
 .social:hover img {
     transform: rotateZ(360deg);
}
 .products {
     display: flex;
     flex-direction: column;
     margin: var(--gap-l) var(--gap-xl);
}
 .product {
     background: var(--ebonyclay);
     border-color: var(--linecolor);
     border-width: var(--linewidth);
     border-style: var(--style);
     border-radius: var(--radius);
     margin: var(--gap-l) 0;
     padding: var(--gap-m) var(--gap-m);
     width: 60%;
     max-width: 860px;
     place-self: flex-end;
     right: var(--gap-xl);
     left: 0;
}
 .product:nth-child(even) {
     place-self: flex-start;
     right: 0;
     left: var(--gap-xl);
}

@media screen and (max-width: 768px) {
  .product, .product:nth-child(even) {
    width: 100%;
    left:0;
    right: 0;
    place-self: center;
  }
}
 .product h1 {
     padding: 0;
     margin: 0;
     color: var(--cashmere);
     font-size: 2rem;
}
 .product p {
     padding: 0;
     margin: 0 0 var(--gap-xl) 0;
     color: var(--snow);
     font-size: 1rem;
     text-align: justify;
}
 .stores {
   display: grid;
   grid-template-columns: min-content;
   place-items: center;
   place-content: center;
}
 .store {
     margin: var(--gap-s);
}
 .store img {
     height: 52px;
     border: 0;
}
.store.itch {
  border: 1px solid grey;
  border-radius: 6px;
  background: black;
}
 .btn {
  display: inline-block;
  padding: var(--gap-s);
  margin: 0;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  background: black;
  border: 1px solid grey;
  border-radius: 6px;
}
