@import url('https://fonts.googleapis.com/css2?family=Quicksand');
/* variables */
 :root {
     --snow: #FFFFFF;
     --darkpearl: #0B132B;
     --ebonyclay: #1C2541;
     --riverbed: #3A506B;
     --jellyfish: #5BC0BE;
     --almond: #F3DFC1;
     --cashmere: #DDBEA8;
     --linewidth: 3px;
     --linecolor: var(--riverbed);
     --radius: 6px;
     --style: solid;
     --gap-s: 8px;
     --gap-m: 16px;
     --gap-l: 24px;
     --gap-xl: 32px;
     --link: var(--jellyfish):
}
 body {
     font-family: 'Quicksand', sans-serif;
     color: var(--cashmere);
     background: var(--darkpearl);
     margin: 0;
     padding: 0;
}
 ::selection {
     background: transparent;
}
 .grid {
     display: grid;
     grid-template-columns: 1fr;
     place-items: center;
     margin: var(--gap-xl) 0;
}
 .timeline {
     width: 1px;
     border: 1px solid var(--linecolor);
     background: var(--linecolor);
     height: 100vh;
     display: block;
     position: fixed;
     top: 0;
     left: 50%;
     z-index: -10;
}
 .avatar {
     display: grid;
     place-content: center;
     place-items: center;
     width: 128px;
     height: 128px;
     background: var(--ebonyclay);
     border-color: var(--linecolor);
     border-width: var(--linewidth);
     border-style: var(--style);
     border-radius: 50%;
     margin-top: var(--gap-xl);
}
 .avatar img {
     width: 120px;
     height: 120px;
}
 .social-row {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: var(--gap-m);
     margin: var(--gap-m) 0;
}
 a.social {
     display: grid;
     place-content: center;
     place-items: center;
     width: 64px;
     height: 64px;
     background: var(--ebonyclay);
     border-color: var(--linecolor);
     border-width: var(--linewidth);
     border-style: solid;
     border-radius: 50%;
}
 a.social:hover {
     border-color: var(--jellyfish);
     transition: border-color 0.7s;
}
 .social img {
     width: 32px;
     height: 32px;
     transform: 0.5s;
}
 .social:hover img {
     transform: rotateZ(360deg);
}
 .products {
     display: flex;
     flex-direction: column;
     margin: var(--gap-l) var(--gap-xl);
}
 .product {
     background: var(--ebonyclay);
     border-color: var(--linecolor);
     border-width: var(--linewidth);
     border-style: var(--style);
     border-radius: var(--radius);
     margin: var(--gap-l) 0;
     padding: var(--gap-m) var(--gap-m);
     width: 60%;
     max-width: 860px;
     place-self: flex-end;
     right: var(--gap-xl);
     left: 0;
}
 .product:nth-child(even) {
     place-self: flex-start;
     right: 0;
     left: var(--gap-xl);
}

@media screen and (max-width: 768px) {
  .product, .product:nth-child(even) {
    width: 100%;
    left:0;
    right: 0;
    place-self: center;
  }
}
 .product h1 {
     padding: 0;
     margin: 0;
     color: var(--cashmere);
     font-size: 2rem;
}
 .product p {
     padding: 0;
     margin: 0 0 var(--gap-xl) 0;
     color: var(--snow);
     font-size: 1rem;
     text-align: justify;
}
 .stores {
   display: grid;
   grid-template-columns: min-content;
   place-items: center;
   place-content: center;
}
 .store {
     margin: var(--gap-s);
}
 .store img {
     height: 52px;
     border: 0;
}
.store.itch {
  border: 1px solid grey;
  border-radius: 6px;
  background: black;
}
 .btn {
  display: inline-block;
  padding: var(--gap-s);
  margin: 0;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  background: black;
  border: 1px solid grey;
  border-radius: 6px;
}
