@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

/* variables */
:root {
  --darkpearl:    #0B132B;
  --ebonyclay:    #1C2541;
  --riverbed:     #3A506B;
  --jellyfish:    #5BC0BE;
  --almond:       #F3DFC1;
  --cashmere:     #DDBEA8;
  --linewidth:    3px;
  --linecolor:    var(--riverbed);
}


body {
  font-family: 'Quicksand', sans-serif;
  color: var(--cashmere);
  background: var(--darkpearl);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.timeline {
  width: var(--linewidth);
    background: var(--riverbed);
    height: 100vh;
    position: fixed;
    top: 0;
    display: block;
}
